/* Portfolio grid styles */

#portfoliowrapper {
    .kad_portfolio_item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .grid_item,
    .imghoverclass,
    .imghoverclass a {
        height: 100%;
    }
}