/* Portfolio carousel styles */

#portfolio-carousel,
#portfolio-list {
    .kad_portfolio_item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .grid_item,
    .imghoverclass,
    .kad_portfolio_link {
        height: 100%;
    }
    .portfolio_item {
        .portfoliolink {
            @include opacity(1);
        }
        .cportfoliotag {
            font-size: 12px;
        }
    }
}

#portfolio-list {
    .portfolio-grid {
        margin-bottom: 30px;
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
}

.fredcarousel {
    display: none;
}