
/* Background */
$bg-menu-active: rgba(0,0,0,.1);

/* Color */
$white: #ffffff;
$green: #00ff00;
$red: #ff0000;

    /* Font */
$f-family: Arial, Helvetica, sans-serif;
$f-size: 14px;

/* Responsive */
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;