/* Virtue theme custom styles */

/* border radius */

/* box shadow */

/* box sizing */

/* calculate */

/* transform */

/* transition */

/* opacity */

/* breakpoint with one condition(min or max) */

/* breakpoint with two conditions (min and max) */

/* extend placeholder */

/* Background */

/* Color */

/* Font */

/* Responsive */

/* General styles */

/* line 3, assets/scss/global/_general.scss */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 7, assets/scss/global/_general.scss */

.phone-call {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1001;
}

/* Header styles */

/* line 4, assets/scss/global/_header.scss */

header.headerclass {
  background-size: cover;
}

/* line 7, assets/scss/global/_header.scss */

header .tagline {
  background: #00ff00;
}

/* line 9, assets/scss/global/_header.scss */

header .tagline .kad_tagline {
  color: #ff0000;
  text-align: center;
  margin: 10px 0;
}

/* line 17, assets/scss/global/_header.scss */

header #logo a.brand img {
  max-width: 120px;
}

/* line 23, assets/scss/global/_header.scss */

header .nav-trigger-case .kad-navbtn,
header .nav-trigger-case .kad-menu-name {
  line-height: 40px;
}

/* line 27, assets/scss/global/_header.scss */

header .nav-trigger-case .kad-menu-name {
  font-size: 15px;
}

@media only screen and (max-width: 991px) {
  /* line 34, assets/scss/global/_header.scss */

  header .tagline .kad_tagline {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 42, assets/scss/global/_header.scss */

  header #topbar {
    padding: 10px 0;
  }

  /* line 44, assets/scss/global/_header.scss */

  header #topbar .topbarmenu {
    display: none;
  }

  /* line 48, assets/scss/global/_header.scss */

  header #topbar #topbar-search form {
    float: right;
    max-width: 200px;
  }

  /* line 54, assets/scss/global/_header.scss */

  header #logo {
    padding: 0;
    position: absolute;
    top: -90px;
    left: 0;
  }

  /* line 60, assets/scss/global/_header.scss */

  header #logo a.brand img {
    max-width: 50px;
  }

  /* line 66, assets/scss/global/_header.scss */

  header .tagline .kad_tagline {
    font-size: 15px;
    line-height: 20px;
  }
}

/* line 80, assets/scss/global/_header.scss */

#nav-main ul.sf-menu li:hover > a,
#nav-main ul.sf-menu li.current-menu-item > a {
  background: rgba(0, 0, 0, 0.1);
}

/* line 85, assets/scss/global/_header.scss */

#nav-main ul.sf-menu a {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* Footer styles */

/* line 4, assets/scss/global/_footer.scss */

.footercredits p {
  font-size: 12px !important;
}

/* line 12, assets/scss/global/_footer.scss */

.footernav ul li a {
  font-size: 12px !important;
}

/* Portfolio carousel styles */

/* line 5, assets/scss/component/_portfolio-carousel.scss */

#portfolio-carousel .kad_portfolio_item,
#portfolio-list .kad_portfolio_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 9, assets/scss/component/_portfolio-carousel.scss */

#portfolio-carousel .grid_item,
#portfolio-carousel .imghoverclass,
#portfolio-carousel .kad_portfolio_link,
#portfolio-list .grid_item,
#portfolio-list .imghoverclass,
#portfolio-list .kad_portfolio_link {
  height: 100%;
}

/* line 15, assets/scss/component/_portfolio-carousel.scss */

#portfolio-carousel .portfolio_item .portfoliolink,
#portfolio-list .portfolio_item .portfoliolink {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 18, assets/scss/component/_portfolio-carousel.scss */

#portfolio-carousel .portfolio_item .cportfoliotag,
#portfolio-list .portfolio_item .cportfoliotag {
  font-size: 12px;
}

/* line 25, assets/scss/component/_portfolio-carousel.scss */

#portfolio-list .portfolio-grid {
  margin-bottom: 30px;
}

/* line 27, assets/scss/component/_portfolio-carousel.scss */

#portfolio-list .portfolio-grid:after {
  content: '';
  clear: both;
  display: table;
}

/* line 35, assets/scss/component/_portfolio-carousel.scss */

.fredcarousel {
  display: none;
}

/* Portfolio grid styles */

/* line 4, assets/scss/component/_portfolio-grid.scss */

#portfoliowrapper .kad_portfolio_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 8, assets/scss/component/_portfolio-grid.scss */

#portfoliowrapper .grid_item,
#portfoliowrapper .imghoverclass,
#portfoliowrapper .imghoverclass a {
  height: 100%;
}

/* line 14, assets/scss/component/_portfolio-grid.scss */

#portfoliowrapper .portfolio_item .portfoliolink {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 17, assets/scss/component/_portfolio-grid.scss */

#portfoliowrapper .portfolio_item .cportfoliotag {
  font-size: 12px;
}

/* Home page styles */

/* line 4, assets/scss/page/_home.scss */

.home-portfolio.home-padding {
  padding-top: 0;
}

@media only screen and (max-width: 767px) {
  /* line 11, assets/scss/page/_home.scss */

  .kad-desktop-slider.sliderclass {
    padding: 0;
  }

  /* line 16, assets/scss/page/_home.scss */

  .portfolio-list h3 {
    font-size: 25px;
  }
}

/* Portfolio detail page styles */

@media only screen and (max-width: 767px) {
  /* line 5, assets/scss/page/_portfolio-detail.scss */

  .single-portfolio .portfolionav {
    display: none;
  }

  /* line 8, assets/scss/page/_portfolio-detail.scss */

  .single-portfolio .entry-title {
    font-size: 30px;
  }
}