/* Virtue theme custom styles */

/* Background */

/* Color */

/* Font */

/* General styles */

/* line 3, assets/scss/global/_general.scss */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */

/* line 9, assets/scss/global/_header.scss */

#nav-main ul.sf-menu li:hover > a,
#nav-main ul.sf-menu li.current-menu-item > a {
  background: rgba(0, 0, 0, 0.1);
}

/* line 14, assets/scss/global/_header.scss */

#nav-main ul.sf-menu a {
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer styles */

/* line 4, assets/scss/global/_footer.scss */

.footercredits p {
  font-size: 12px !important;
}

/* line 12, assets/scss/global/_footer.scss */

.footernav ul li a {
  font-size: 12px !important;
}