/* Header styles */

header {
    &.headerclass {
        background-size: cover;
    }
    &.fixed {
        padding-bottom: 48px;
        .header-nav {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1111;
        }
    }
    .tagline {
        background: $green;
        .kad_tagline {
            color: $red;
            line-height: 106px;
            text-align: center;
            margin: 0;
        }
    }
    #logo {
        a.brand {
            img {
                max-width: 120px;
            }
        }
    }
    .header-nav {
        background: $blue;
        width: 100%;
    }
    .nav-trigger-case {
        .kad-navbtn,
        .kad-menu-name {
            line-height: 40px;
        }
        .kad-menu-name {
            font-size: 15px;
        }
    }
    #nav-main {
        margin: 0;
        ul {
            &.sf-menu {
                li {
                    &:hover,
                    &.current-menu-item {
                        > a {
                            background: $bg-menu-active;
                        }
                    }
                }
                a {
                    color: $white;
                    font-family: $f-family;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 15px 20px;
                }
            }
        }
    }

    @include bp(max-width, $desktop - 1) {
        .tagline {
            .kad_tagline {
                font-size: 35px;
            }
        }
    }

    @include bp(max-width, $laptop - 1) {
        &.fixed {
            padding-bottom: 38px;
        }
        .tagline {
            .kad_tagline {
                font-size: 30px;
            }
        }
        #nav-main ul.sf-menu {
            display: block;
        }
        #nav-main {
            ul {
                &.sf-menu {
                    a {
                        font-size: 13px;
                        padding: 10px;
                    }
                }
            }
        }
        #mobile-nav-trigger {
            display: none;
        }
    }

    @include bp(max-width, $tablet - 1) {
        &.fixed {
            padding-bottom: 40px;
        }
        #topbar {
            padding: 10px 0;
            .topbarmenu {
                display: none;
            }
            #topbar-search {
                form {
                    float: right;
                    max-width: 200px;
                }
            }
        }
        #logo {
            padding: 0;
            position: absolute;
            top: -50px;
            left: 0;
            a.brand {
                img {
                    max-width: 50px;
                }
            }
        }
        .tagline {
            .kad_tagline {
                font-size: 14px;
                line-height: 20px;
                margin: 5px 0;
            }
        }
        #nav-main ul.sf-menu {
            display: none;
        }
        #mobile-nav-trigger {
            display: block;
            .mobileclass {
                background: none;
            }
        }
    }
}